<!DOCTYPE html>
<html>
<head>
    <title>{{ report_name }} - {{ project }}</title>
</head>
<body>
    <h1>Report: {{ report_name }}</h1>
    <h2>Project: {{ project }}</h2>
    <p>Quarter Start Date: {{ start_value }}</p>
    <p>Quarter End Date: {{ end_value }}</p>
</body>
</html>
